@{
    ViewBag.Title = "Student Maintenance";
}

<label>Student Maintenance Screen</label><br/><br/>

<label>Current Students</label>
<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area" style="width:600px">

            <div id="Grid" class="waiting"></div>
        </div>
    </div>
</div>


@* Student Grid Template *@
<script type="text/x-jsrender" id="mgTemplate">
    <a href="@Url.Action("Detail","Student")?id={{:MathGeniusId}}">View {{:MathGeniusId}}</a>
</script>





    <script type="text/javascript">



        $(function () {
            //debugger;
            $("#Grid").ejGrid({
                dataSource: ej.DataManager({ url: "@Url.Action("PagingGetStudents","Student")" }),
                allowPaging: true,
                pageSettings: { pageSize: 10, enableQueryString: true },
                allowSorting: true,
                allowMultiSorting: true,
                columns: [
                    { field: "MathGeniusId", headerText: "MG ID", template: true, templateID: "#mgTemplate", width: 75, textAlign: ej.TextAlign.Left, },
                        { field: "LastName", headerText: "Last Name", width: 75, textAlign: ej.TextAlign.Left },
                        { field: "FirstName", headerText: "First Name", width: 75, textAlign: ej.TextAlign.Left },
                        { field: "Gender", headerText: "Sex", width: 75, textAlign: ej.TextAlign.Center },
                        { field: "GraduationYear", headerText: "Class Of", width: 125, textAlign: ej.TextAlign.Center }
                ]
            });

            @*$("#txtMathGeniusId").ejNumericTextbox(
                         {
                             name: "numeric",
                             value: 100,
                             minValue: 1,
                             width: "100%"
                         });
            $('#sex').ejDropDownList({
                targetID: "sexList",
                watermarkText: "Sex",
                width: "100%"
            });

            $('#gradyear').ejDropDownList({
                dataSource: ej.DataManager({ url: "@Url.Action("GraduationYear","Code")" }),
                watermarkText: "Select a Graduation Year",
                width: "100%"
            });

            saveUrl = "@Url.Action("UploadStudents","Student")";
            removeUrl = "@Url.Action("RemoveFile","Student")";
            $("#UploadDefault").ejUploadbox({
                saveUrl: saveUrl,
                removeUrl: removeUrl,
                multipleFilesSelection: false,
                error: function (args) {
                    alert(args.error);
                }
            });*@

        });

        function AddStudent() {
            $("#btnAddStudent").prop("disabled", "disabled");
            $("#updateMessage").hide();
            $.ajax({
                url: '@Url.Action("AddStudent","Student")',
                data: {
                    MathGeniusId: $("#txtMathGeniusId").val(),
                    LastName: $("#txtLastName").val(),
                    FirstName: $("#txtFirstName").val(),
                    Sex: $("#sex").val(),
                    GraduationYear: $("#gradyear").val()
                },
                error: function (e) {
                    $("#updateMessage").show();
                    $('#updateMessage').html('<p>' + e + '</p>');
                },
                complete: function () {
                    $("#btnAddStudent").prop("disabled", "");
                },
                success: function (data) {
                    ProcessServiceResult(data, "#updateMessage", resetGrid(), null);
                },
                type: 'GET'
            });
        }

        function AddStudents() {

        }

        function resetGrid() {
            $("#Grid").ejGrid("refreshContent");
        }
    </script>
